body, html, div {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
h1, p, a {
    margin :0;
}

#header {
    position: relative;
}

header {
    color: white;
    position: absolute;
    width: 100%;
    padding-top: 60px;
    z-index: 1000;
}

.hamburger {
    display: none;  /* Ensure it's not displayed by default, only on mobile */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white; /* Ensures the hamburger icon is visible on a dark background */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    margin: auto;
}

.navbar > ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar > ul li {
    margin: 0 15px;
}

.navbar > ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    background: url(btb-a-2.svg) no-repeat center center;
    width: 100px;
    height: 100px;
}

@media (max-width: 1024px) {
    .hamburger {
        display: block; /* Show hamburger icon on mobile */
    }
    .open-header {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding-top: 60px;
        z-index: 1000;
    }
    
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #000;
        top: 200px; /* Adjusted to the height of your header */
        width: 100%;
    }
    .navbar > ul {
        display: none;
        left: 0px;
    }

    .nav-menu.open {
        display: block;
    }

    .navbar > ul li {
        text-align: left;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    .navbar > ul li a {
        position: relative;
        left: 20px;
    }

     .block {
        display: none;
    }
}
#has-submenu {
    position: relative;
}

#has-submenu  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color:black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
}

#has-submenu  .submenu li {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin:0px;
}

#has-submenu  .submenu li:hover {
    background-color: black;
}

#has-submenu .submenu a {
    padding: 10px 15px;
    color:black;
}
#has-submenu .submenu a:hover {
    color:white;
}

#has-submenu:hover .submenu,
#has-submenu:focus-within .submenu {
    display: block;
}

/* Mobile Styles */
@media (max-width: 1024px) {
    #has-submenu .submenu {
        position: relative;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: background 0.5s ease-in-out;
    z-index: 10;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    text-align: center;
    max-width: 90%;
    width: 400px;
}

.popup-content {
    position: relative;
}

.popup img {
    width: 100%;
    height: 350px;
    object-position: center;
    object-fit: cover;
}
.popup-text {
    text-align: left;
    padding-left: 20px;
    margin: 20px 0px;
}

.popup-text p:first-child {
    font-weight: bold;
    margin-bottom: 20px;
    font-size:1.2rem;
}
.popup-text p:nth-child(3) {
    padding-top:5px;
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-buttons button {
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    border: none;
    padding: 20px;
    background-color: black;
    color: white;

}
.popup-buttons .today {
    text-align: left;
}
.popup .close {
    text-align: right;
}

.popup button:hover {
    font-weight: bold;
}



.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    text-align: left;
    color:white;
}

.visit-us {
    display: flex;
    flex-direction: column;
}

.footer-section div {
    padding-top: 20px;
    line-height: 1.5;
}


.footer-section .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.footer-section  .button:hover {
    background-color: #929292;
}


.social-links {
    display: flex;
    justify-content: right;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 10px;
}

.social-links a:last-child {
    margin-right: 0;
}

.social-links a:hover {
    color: #929292;
}

